<!DOCTYPE html>
<html lang="ru">
<head>
    <title> Demo </title>
</head>


<body>
<header>

    Test

</header>


<button name="check" onclick="testajax()">

    <!--logic-->
    <!--html-->

    <script>
        //javascript

        function testajax() {

            $.ajax({
                url: '/test_ajax',
                data: ({
                    email: 'testEmail',
                    name: null
                }),

                success: function (data) {
                    alert('success');
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        };

    </script>
</body>
</html>